/* ===================================================================
 *  Settings related to screen sizes
 * ===================================================================*/

/* ---- vertical constraints ----- */

@media screen and (min-height: 1000px) {
    /* raise background image vertically 
    for > 1000px vertical resolution */
    #canvas {
        background-position: 0 -6em;
    }
}

@media screen and (max-height: 600px) {
    /* raise background image vertically 
    for > 1000px vertical resolution */
    #canvas {
        background-position: 0 6em;
    }
}

/* ---- horizontal constraints ----- */

@media screen and (max-width: 1280px) {
    button {
        width: 65px;
        height: 65px;
    }
    
    button .glyphicon {
        font-size: 20pt;
    }
}

@media screen and (max-width: 1024px) {
    button {
        width: 50px;
        height: 50px;
    }
    
    button .glyphicon {
        font-size: 18pt;
    }
}
@media screen and (max-width: 800px) {
    /* for horizontal resolution < 800px
    scale down font sizes of user entries
    move user list 80px to left */
    .user_box{
        margin-left: 120px;
    }
    .font_username {
        font-size: 18pt;        
    }
    .font_gecos {
        font-size: 10pt;
    }
}
